.atualidade-sidebar {
    width: 250px;
    height: calc(100vh - var(--top-menu-height));
    /* Ajusta a altura para ocupar toda a altura da viewport menos a altura da topbar */
    background-color: rgba(50, 50, 50, 0.3);
    /* Ajustado para um cinza mais escuro e semi-transparente */
    color: white;
    padding: 20px;
    overflow-y: auto;
    position: fixed;
    /* Mudamos para fixed para garantir que fique no lugar correto */
    top: calc(var(--top-menu-height) + 25px);
    /* Isso garante que o sidebar comece exatamente abaixo da barra superior */
    left: 0;
    z-index: 1000;
    box-sizing: border-box;
    /* Garante que o padding não aumente o tamanho total */
}

.sidebar-section {
    margin-bottom: 20px;
}

.atualidade-sidebar h2 {
    margin-bottom: 20px;
    font-size: 1.2em;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.atualidade-sidebar label {
    display: block;
    margin-bottom: 5px;
    font-size: 0.9em;
    color: #bbb;
}

.atualidade-sidebar button {
    width: 100%;
    padding: 10px;
    background-color: rgba(40, 40, 40, 0.9);
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 0.9em;
    cursor: pointer;
    transition: background-color 0.3s;
}

.atualidade-sidebar button:hover {
    background-color: rgba(60, 60, 60, 0.9);
}

.data-info {
    font-size: 0.9em;
    margin-top: 10px;
    color: #4ecdc4;
}

.loading,
.error-message,
.data-info {
    font-size: 0.9em;
    margin-top: 10px;
}

.loading {
    color: #f0f0f0;
}

.error-message {
    color: #ff6b6b;
}

.data-info {
    color: #4ecdc4;
}